<h1>Appointment Details</h1>
<p>Service: {{ service }}</p>

<form method="post" action="">
  {% csrf_token %}
  {{ form.as_table }}
  <input type="submit" value="Confirm">
</form>

<ol>
  {% for appointment in all_appointments %}
    <li>
      <p>{{ appointment.service}}</p>
      <p>{{ appointment.first_name }}</p>
      <p> {{ appointment.last_name }}</p>
      {{ appointment.appointment_date }}
      {{ appointment.appointment_time }}
      {{ appointment.recurrence }}
      {{ appointment.phone_number }}
      <div>
        <form action="{% url 'delete_appointment' appointment_id=appointment.id %}">
          {% csrf_token %}
          <button type="submit">DELETE</button>
        </form>
      </div>
    </li>

  {% endfor %}
</ol>